{
  "extends": ["standard", "standard-react"],
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "no-underscore-dangle": "error",
    "indent": ["error", 2]
  },
  "env": {
    "jest": true
  },
  "globals": {
  "fetch": false
  }
}